<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UncoJet Company</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'/>
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="lib/lightbox/css/lightbox.css" rel="stylesheet"/>
<link href="lib/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet"/>
<!-- Custom CSS -->
<link href="css/modern-business.css" rel="stylesheet"/>
<!-- Custom Fonts -->
<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"  ></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"  ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"  ></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"  ></script>
<!-- <script src="lib/ng-file-upload/angular-file-upload.min.js"  ></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-date/1.0.1/date.min.js"  ></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lightbox/0.5/js/jquery.lightbox-0.5.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.min.js"  ></script>
<script type="text/javascript" src='//maps.googleapis.com/maps/api/js?sensor=true'  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"  ></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.4.0/angular-google-maps.js"  ></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.4.0/angular-google-maps.min.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"  ></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/g/lightbox@0.5,angular.youtube-embed@0.4.3"  ></script>
<!-- <script type="text/javascript" src="/lib/ngmodeloptions/ngModelOptions.min.js"  ></script> -->
<script type="text/javascript" src="/js/app.js"  ></script>
<script type="text/javascript" src="/js/controller.js"  ></script>
<script type="text/javascript" src="/js/directives.js"  ></script>
<script type="text/javascript" src="/js/factory.js"  ></script>
</head>
<body>
<div data-ng-controller="total">
<!--Navigation-->
<div class="navbar navbar-default navbar-fixed-top center" role="navigation">
    <div class="container-fluid">
        <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="icon-home icon-white"> </i>UNCO JET</a>
        </div>
        <div class="navbar-body collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">


                <li class="menu-item dropdown equipment"><a href="" class="dropdown-toggle" data-toggle="dropdown">Оборудование<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="cat in cats" class="menu-item dropdown dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown" ng-click="collectData(cat.cat_title)">{{cat.cat_title}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="menu-item " data-ng-repeat="equipment in equipmentsInCat"><a ng-href="/itemEquipment{{equipment.link}}">{{equipment.equipment_title}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

               <li class="menu-item dropdown areas"><a href="" class="dropdown-toggle" data-toggle="dropdown">Решения<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="area in areas" class="menu-item dropdown dropdown-submenu"><a ng-href="/itemArea{{area.area_title}}" ng-click="refer(area.area_title)" class="dropdown-toggle" data-toggle="dropdown">{{area.area_title}}</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item dropdown library"><a href="" class="dropdown-toggle" data-toggle="dropdown">Дополнительно<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="/supplies">Чернила, риббоны, запчасти</a></li>
                        <li><a ng-href="/monitor">Отслеживание и контроль</a></li>
                        <li><a ng-href="/assurance">Система Code Assurance</a></li>
                    </ul>
                </li>
                <li class="menu-item contacts"><a href="/contacts">Контакты</a></li>
            </ul>
            <ul class="visible-md visible-lg nav navbar-nav navbar-right search">
                <li><form ng-submit="searchFor(item)" class="navbar-search navbar-form">
                    <input ng-model="item" type="text" class="form-control" placeholder="Нажмите интер">
                </form>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="myMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Результаты поиска:
                </div>
                <div class="modal-body">
                    <div ng-show="searchRes.equipment.length!=0">
                        <div data-ng-repeat="item in searchRes.equipment">
                            <h3>Найденное оборудование:</h3>
                            <a ng-href="/itemEquipment{{item.equipment_title}}">{{item.equipment_title}}</a>
                        </div>
                    </div>

                    <div ng-show="searchRes.area.length!=0">
                        <div data-ng-repeat="item in searchRes.area">
                            <h3>Найденные области применения:</h3>
                            <a ng-href="/itemArea{{item.area_title}}">{{item.area_title}}</a>
                        </div>
                    </div>

                    <div ng-show="searchRes.category.length!=0">
                        <div data-ng-repeat="item in searchRes.category">
                            <h3>Найденные категории:</h3>
                            <a ng-href="/itemCategory{{item.cat_title}}">{{item.cat_title}}</a>
                        </div>
                    </div>
                    <div ng-show="searchRes.areas.length==0 && searchRes.categories.length==0 && searchRes.equipment.length==0" class="alert alert-danger" role="alert">
                        <h5>Ничего по данному запросу найденно не было!
                            Поиск осуществляется по названию оборудования, названию отрасли либо
                            по названию категории оборудования!</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    Спасибо за внимание
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-view class="container"></div>
<footer class="navbar-static-bottom navbar-default">
    <div class="lineFooter">
    </div>
    <div class="contentFooter gradHorFooter">
        <div class="row">
            <div class="ourNavigation col-md-1 col-md-offset-1">
                <a ng-href="/">
                    <h4 class="text-center"><span class="glyphicon glyphicon-home"></span></h4>
                    <h5 class="text-center">Главная</h5>
                </a>
                <!-- <a ng-href="/assist">
                    <h5>Тех Поддержка</h5>
                </a> -->
            </div>
            <div class="delivery col-md-4 col-sm-6 col-md-offset-2">
                <a ng-href="delivery">
                    <h4 class="text-center"><span class="glyphicon glyphicon-send"></span></h4>
                </a>
                    <p>
Доставка осуществляется транспортной компанией. Передача заказанных единиц со склада транспортной компании осуществляется на следующий день с момента поступления заявки.
                    </p>
                <div class="logos">
                    <div class="col-md-3 col-sm-3">
                        <a ng-href="#" target="_blank">
                            <i class="fa fa-vk fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <a ng-href="#" target="_blank">
                            <i class="fa fa-envelope fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <a ng-href="#" target="_blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <a ng-href="#" target="_blank">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <address class="contacts_bot col-md-3 col-sm-6 col-xs-12 col-md-offset-1">
                <a>
                    <h4 class="text-center"><span class="glyphicon glyphicon-envelope"></span></h4>
                </a>
                <div class="row">
                    <div class="map-marker col-md-3 col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-1">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-8">
                        <p>
                            Республика Казахстан Алматы, 050061, Утеген-Батыра, 5В/3
                        </p>
                    </div>
                </div>
                <div class="row phone">
                    <div class="col-md-3 col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-1">
                        <i class="fa fa-phone fa-2x"></i>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-8">
                        <h6>
                            8 (727) 381 98 24
                        </h6>
                        <h6>
                            8 (727) 381 98 15
                        </h6>
                        <h6>
                            8 (727) 381 96 67
                        </h6>
                    </div>
                </div>
            </address>
        </div>
    </div>
    <div class="lineBeneath"></div>
</footer>
</body>
</html>
