<div class="item" data-ng-repeat="ipics in itemsSingle">
    <div data-ng-repeat="pic in ipics" class="col-md-2 col-sm-3 col-xs-12">
        <div class="thumbnail">
            <a href="{{pic.pic}}" data-lightbox="secondSlider">
                <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
            </a>
            <div class="caption">
                <h3>{{pic.title}}</h3>
                <p>{{pic.brief}}</p>
            </div>

        </div>
    </div>
</div>