


<div class="content">

<main-carousel></main-carousel>




    <!--Приветствие после слайдера-->
    <div id="afterSlider" class="gradHor">
        <div class="row">
            <div id="circles">
                <img src="img/circle.png">
            </div>
        </div>
        <div class="greatings">
            <h3>ДОБРО ПОЖАЛОВАТЬ</h3>
            <div class="lines">
                <div id="leftLine">
                </div>
                <div id="rightLine">
                </div>
            </div>
            <h4>В ЛУЧШИЙ ИРЛАНДСКИЙ ПАБ ГОРОДА</h4>
        </div>
    </div>





    <!--Линия после слайдера-->
    <div class="lineAfterSlider">
    </div>




    <!--Статьи-->
    <div class="homeThumbs">
        <div class="thumbnails col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-sm-3 col-md-3 center">
                <div class="thumbnail">
                    <img ng-src="img/spoon.png" alt="Spoon">
                    <div class="caption">
                        <a ng-href="/menu" class="noStyle">
                            <h3>Меню</h3>
                            <p>Мы предлагаем отведать изысканные и вкуснейшие блюда нашей кухни приготовленными  настоящими профессионалами</p>
                            <p class="visible-xs"><a ng-href="/menu" class="btn btn-info" role="button">Читать подробнее</a></p><!--Menu link-->
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 center">
                <div class="thumbnail">
                    <img ng-src="img/vine.png" alt="Spoon">
                    <div class="caption">
                        <a ng-href="/news" class="noStyle">
                            <h3>Акции</h3>
                            <p>В нашем заведении Вы можете хорошо отдохнуть и прекрастно провести свое время в кругу близких друзей, где Вам всегда будут рады</p>
                            <p class="visible-xs"><a ng-href="/news" class="btn btn-info" role="button">Читать подробнее</a></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 center">
                <div class="thumbnail">
                    <img ng-src="img/beer.png" alt="Spoon">
                    <div class="caption">
                        <a ng-href="/brewery" class="noStyle">
                            <h3>Пивоварня</h3>
                            <p>Мы готовим пиво в собственной пивоварне согласно лучшим традициям и рецептам  знаменитой пивоварни братьев O’Hara</p>
                            <p class="visible-xs"><a ng-href="/brewery" class="btn btn-info" role="button">Читать подробнее</a></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 center">
                <div class="thumbnail">
                    <img ng-src="img/hat.png" alt="Spoon">
                    <div class="caption">
                        <a ng-href="/delivery" class="noStyle">
                            <h3>Доставка</h3>
                            <p>Мы осуществляем доставку блюд из основного меню, а так же Ланчи и Пиво, сваренного на пивоварне O'Hara Irish Pub & Brewery. Доставка работает: вк-чт с 12:00 до 01:00
                                пт-сб с 12:00 до 04:00</p>
                            <p class="visible-xs"><a ng-href="/delivery" class="btn btn-info" role="button">Читать подробнее</a></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="btnThumbs visible-sm visible-md visible-lg">
        <div class="thumbnails col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-sm-3 col-md-3 center">
                <p class="visible-sm visible-md visible-lg"><a ng-href="/menu" class="btn btn-info" role="button">Читать подробнее</a></p>
            </div>
            <div class="col-sm-3 col-md-3 center">
                <p class="visible-sm visible-md visible-lg"><a ng-href="/news" class="btn btn-info" role="button">Читать подробнее</a></p>
            </div>
            <div class="col-sm-3 col-md-3 center">
                <p class="visible-sm visible-md visible-lg"><a ng-href="/brewery" class="btn btn-info" role="button">Читать подробнее</a></p>
            </div>
            <div class="col-sm-3 col-md-3 center">
                <p class="visible-sm visible-md visible-lg"><a ng-href="/delivery" class="btn btn-info" role="button">Читать подробнее</a></p>
            </div>
        </div>
    </div>






    <!--Кружки после статей(зеленые)-->
    <div class="greenDots firstDots visible-sm visible-md visible-lg">
        <img ng-src="img/greenDots.png">
    </div>





    <!--Наше меню-->
    <div class="ourMenu firstMenu">
        <h2>Рекомендации ШЕФ-Повара</h2>
        <div class="lines">
            <div class="prevSlideSecondSlider">
                <button type="button" ng-click="clickLeftSecond()" class="fa fa-chevron-circle-left fa-2x"></button>
            </div>
            <div id="leftLine">
            </div>

            <div id="rightLine">
            </div>
            <div class="nextSlideSecondSlider">
                <button type="button" ng-click="clickRightSecond()" class="fa fa-chevron-circle-right fa-2x"></button>
            </div>
        </div>
        <p>ХОСПЕР</p>
    </div>












    <!--Второй слайдер-->
    <div class="col-md-12 col-sm-12 visible-sm visible-md visible-lg">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000" id="myCarousel_2">
            <div class="carousel-inner col-md-10 col-md-offset-1">
                <div class="item active">
                    <div data-ng-repeat="pic in active" class="col-md-2 col-sm-3 col-xs-12">
                        <!--<a href="{{pic.pic}}" data-lightbox="secondSlider">
                            <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
                        </a>-->
                        <div class="dishHeadLink">
                            <a ng-href="/viewDish{{pic.title}}"><h3>{{pic.title}}</h3></a>
                        </div>
                    </div>
                </div>
                <div class="item" data-ng-repeat="ipics in itemsSingle">
                    <div data-ng-repeat="pic in ipics" class="col-md-2 col-sm-3 col-xs-12">
                        <!--<a href="{{pic.pic}}" data-lightbox="secondSlider">
                            <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
                        </a>-->
                        <div class="dishHeadLink">
                            <a ng-href="/viewDish{{pic.title}}"><h3>{{pic.title}}</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="left carousel-control" href="#myCarousel_2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="right carousel-control" href="#myCarousel_2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-righ"></span>
            </button>
        </div>
    </div>
    <!--Второй слайдер-->

    <!--Если размеры для телефона-->
    <div class="thumbnails slider2 visible-xs">
        <div class="col-xs-12 center">
            <div class="slide col-xs-12" data-ng-repeat="data in info">
                <!--<div data-ng-repeat="pic in data">
                    <a href="/uploaded/{{pic}}" data-lightbox="repo">
                        <img class="col-xs-6 col-xs-offset-3 img-responsive img-thumbnail" src="/uploaded/mini_{{pic}}" alt="{{data.dish_name}}">
                    </a>

                </div>-->
                <div class="dishHeadLink">
                    <a ng-href="/viewDish{{data.dish_name}}"><h3>{{data.dish_name}}</h3></a>
                </div>
            </div>
        </div>
    </div>






    <!--Кружки после второго слайдера(зеленые)-->
    <div class="greenDots secondDots visible-sm visible-md visible-lg">
        <img ng-src="img/greenDots.png">
    </div>







    <!--Последние события-->
    <div class="ourMenu eventsSlide">
        <h2>ГАЛЕРЕЯ</h2>
        <div class="lines">
            <div class="prevSlideThirdSlider">
                <button type="button" href="#" ng-click="clickLeftThird()" class="fa fa-chevron-circle-left fa-2x"></button>
            </div>
            <div id="leftLine">
            </div>

            <div id="rightLine">
            </div>
            <div class="nextSlideThirdSlider">
                <button type="button" href="#" ng-click="clickRightThird()" class="fa fa-chevron-circle-right fa-2x"></button>
            </div>
        </div>
        <p>ПОСЛЕДНИЕ СОБЫТИЯ</p>
    </div>





{{rest}}

    <!--Третий слайдер-->

    <div class="col-md-12 col-sm-12 visible-sm visible-md visible-lg">
        <div class="carousel slide col-md-10 col-md-offset-1" data-ride="carousel" data-type="multi" data-interval="5000" id="myCarousel_3">
            <div class="carousel-inner" style="text-align: center">
                <div class="item active">
                    <div data-ng-repeat="pic in activeEvents" class="col-sm-6 col-md-4 col-xs-12">
                        <a ng-href="{{pic.pic}}" data-lightbox="thirdSlider">
                            <img ng-src="{{pic.pic}}" class="img-responsive center-block img-polaroid img-thumbnail">
                        </a>
                    </div>
                </div>
                <div class="item" data-ng-repeat="ipics in singleEvents">
                    <div data-ng-repeat="pic in ipics" class="col-sm-6 col-md-4 col-xs-12">
                        <a ng-href="{{pic.pic}}" data-lightbox="thirdSlider">
                            <img ng-src="{{pic.pic}}" class="img-responsive center-block img-polaroid img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
            <button type="button" class="left carousel-control" href="#myCarousel_3" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="right carousel-control" href="#myCarousel_3" data-slide="next">
                <span class="glyphicon glyphicon-chevron-righ"></span>
            </button>
        </div>
    </div>

    <!--Если размеры для телефона-->
    <div class="slider3 visible-xs">
        <div class="col-xs-12 center">
            <div class="slide col-xs-12" data-ng-repeat="pic in totalEvents">
                    <a ng-href="{{pic.photo}}" data-lightbox="repo">
                        <img class="col-xs-6 col-xs-offset-3 img-responsive img-thumbnail" ng-src="{{pic.photo}}">
                    </a>
            </div>
        </div>
    </div>


















