<!--Главный слайдер-->
<div id="myCarousel_4" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel_4" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel_4" data-slide-to="1"></li>
        <li data-target="#myCarousel_4" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="img/slider-4.jpg" width="100%" alt="Слайд_1">
            <div class="carousel-caption">
                <div class="cont">
                    <p>Наше Меню</p>
                    <p>Изысканное меню нашего ресторана</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slider-4.jpg" width="100%" alt="Слайд_1">
            <div class="carousel-caption">
                <div class="cont">
                    <p>Наше Меню</p>
                    <p>Изысканное меню нашего ресторана</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slider-4.jpg" width="100%" alt="Слайд_1">
            <div class="carousel-caption">
                <div class="cont">
                    <p>Наше Меню</p>
                    <p>Изысканное меню нашего ресторана</p>
                </div>
            </div>
        </div>

    </div>

    <button class="visible-sm visible-md visible-lg left carousel-control" ng-click="clickcontrol(event)" href="#myCarousel_4" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left fa fa-chevron-circle-left"></span>
    </button>
    <button class="visible-sm visible-md visible-lg right carousel-control" ng-click="clickcontrol(event)" href="#myCarousel_4" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right fa fa-chevron-circle-right"></span>
    </button>
</div>