<div class="content" xmlns="http://www.w3.org/1999/html">

    <main-carousel-second></main-carousel-second>









    <div class="menuH col-md-10 col-md-offset-1">
        <h2>Наше Меню</h2>
        <p>Вы можете отведать изысканные блюда от нашего Московского Шеф-повара, который поможет Вам окунуться в феерию настоящего вкуса. Вы можете отведать изысканные блюда от нашего Московского Шеф-повара, который поможет Вам окунуться в феерию настоящего вкуса.</p>
    </div>




    <!--Седьмой слайдер-->
    <div class="col-md-12 col-sm-12 visible-sm visible-md visible-lg">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000" id="myCarousel_7">
            <div class="carousel-inner col-md-10 col-md-offset-1">

                <div class="item active">
                    <div data-ng-repeat="pic in active" class="col-md-2 col-sm-3 col-xs-12">
                        <div class="thumbnail">
                            <a href="{{pic.pic}}" data-lightbox="secondSlider">
                                <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
                            </a>
                            <div class="caption">
                                <h5>{{pic.title}}</h5>
                                <p>{{pic.brief}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" data-ng-repeat="ipics in itemsSingle">
                    <div data-ng-repeat="pic in ipics" class="col-md-2 col-sm-3 col-xs-12">
                        <div class="thumbnail">
                            <a href="{{pic.pic}}" data-lightbox="secondSlider">
                                <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
                            </a>
                            <div class="caption">
                                <h5>{{pic.title}}</h5>
                                <p>{{pic.brief}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="left carousel-control" href="#myCarousel_7" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="right carousel-control" href="#myCarousel_7" data-slide="next">
                <span class="glyphicon glyphicon-chevron-righ"></span>
            </button>
        </div>
    </div>



    <!--Восьмой слайдер-->
    <div class="col-md-12 col-sm-12 visible-sm visible-md visible-lg">
        <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000" id="myCarousel_8">
            <div class="carousel-inner col-md-10 col-md-offset-1">

                <div class="item active">
                    <div data-ng-repeat="pic in active" class="col-md-2 col-sm-3 col-xs-12">
                        <div><a href="/viewDish{{pic.title}}" class="btn btn-info" role="button">Читать подробнее</a></div>
                    </div>
                </div>
                <div class="item" data-ng-repeat="ipics in itemsSingle">
                    <div data-ng-repeat="pic in ipics" class="col-md-2 col-sm-3 col-xs-12">
                        <div><a href="/viewDish{{pic.title}}" class="btn btn-info" role="button">Читать подробнее</a></div>
                    </div>
                </div>

            </div>
            <button type="button" class="left carousel-control" href="#myCarousel_8" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <button type="button" class="right carousel-control" href="#myCarousel_8" data-slide="next">
                <span class="glyphicon glyphicon-chevron-righ"></span>
            </button>
        </div>
    </div>

    <!--Если размеры для телефона-->
    <div class="thumbnails col-md-10 col-md-offset-1 col-sm-12 visible-xs">
        <div class="col-sm-3 col-md-3 center">
            <div class="thumbnail" data-ng-repeat="data in info">
                <div data-ng-repeat="pic in data.dish_photo">
                    <a href="/uploaded/{{pic}}" data-lightbox="repo">
                        <img src="/uploaded/mini_{{pic}}" alt="{{data.dish_name}}">
                    </a>
                </div>
                <div class="caption">
                    <h3>{{data.dish_name}}</h3>
                    <p>{{data.dish_brief}}</p>
                </div>
                <p><a href="/viewDish{{data.dish_name}}" class="btn btn-info" role="button">Читать подробнее</a></p>
            </div>
        </div>
    </div>


    <!--Управление слайдером-->
    <div class="controlsMenu visible-sm visible-md visible-lg">
        <div class="prevSlideSecondSlider">
            <button type="button" ng-click="clickLeftMenu()" class="fa fa-chevron-circle-left fa-2x"></button>
        </div>

        <div class="nextSlideSecondSlider">
            <button type="button" ng-click="clickRightMenu()" class="fa fa-chevron-circle-right fa-2x"></button>
        </div>
    </div>








</div>
