<div class="col-sm-3 col-md-3 center">
    <div class="thumbnail" data-ng-repeat="data in info">
        <div data-ng-repeat="pic in data.dish_photo">
            <a href="/uploaded/{{pic}}" data-lightbox="repo">
                <img src="/uploaded/mini_{{pic}}" alt="{{data.dish_name}}">
            </a>
        </div>
        <div class="caption">
            <h3>{{data.dish_name}}</h3>
            <p>{{data.dish_brief}}</p>
        </div>
        <p><a href="#" class="btn btn-info" role="button">Читать подробнее</a></p>
    </div>
</div>