<form class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="form-group" data-ng-repeat="con in input">
        <label for="inputTitle" class="col-sm-2 control-label">Параметр</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" placeholder="title" ng-model="con.title">
        </div>
        <label for="inputValue" class="col-sm-2 control-label">Значение</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputValue" placeholder="value" ng-model="con.value">
        </div>
    </div>



</form>
<button type="button" ng-click="addEl()">Click to add fields</button>
<button type="button" ng-click="confirm()">Confirm</button>

    {{output}}