<div class="content">
    <main-carousel-second></main-carousel-second>
<h3 class="col-md-offset-1 greenHelvetica">{{dish}}</h3>

<div class="greenBack col-md-4 col-md-offset-1"></div>

<div ng-show="photo!='box.jpg'" class="col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2 clearFloat marginTop15">
    <a href="/uploaded/{{photo}}" data-lightbox="dishInfo"><img src="/uploaded/{{photo}}" class="img-responsive softShadow"></a>
</div>

<div class="clearFloat visible-xs"></div>
<pre style="font-family: K_Myriad Pro" class="col-md-6 marginTop15 noBack noBorder">
    <span ng-show="about!='undefined'">{{about}}</span>
    <div class="greenHelveticaItalicBold">
        <h3 ng-show="price!='undefined'" class="clearFloat">Цена: {{price}}</h3>
        <h3 ng-show="weight!='undefined'" class="marginTop_35">Вес: {{weight}}</h3>
    </div>
</pre>






<!--Кружки после статей(зеленые)-->
<div class="greenDots thirdDots visible-sm visible-md visible-lg">
    <img src="img/greenDots.png">
</div>




<!--Наше меню-->
<div class="ourMenu firstMenu">
    <h2>Рекомендации ШЕФ-Повара</h2>
    <div class="lines">
        <div class="prevSlideSecondSlider">
            <button type="button" ng-click="clickLeftSecond()" class="fa fa-chevron-circle-left fa-2x"></button>
        </div>
        <div id="leftLine">
        </div>

        <div id="rightLine">
        </div>
        <div class="nextSlideSecondSlider">
            <button type="button" ng-click="clickRightSecond()" class="fa fa-chevron-circle-right fa-2x"></button>
        </div>
    </div>
    <p>ХОСПЕР</p>
</div>






<!--Второй слайдер-->
<div class="col-md-12 col-sm-12 visible-sm visible-md visible-lg">
    <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="5000" id="myCarousel_2">
        <div class="carousel-inner col-md-10 col-md-offset-1">
            <div class="item active">
                <div data-ng-repeat="pic in active" class="col-md-2 col-sm-3 col-xs-12">
                    <!--<a href="{{pic.pic}}" data-lightbox="secondSlider">
                        <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
                    </a>-->
                    <a ng-href="/viewDish{{pic.title}}"><h3>{{pic.title}}</h3></a>
                </div>
            </div>
            <div class="item" data-ng-repeat="ipics in itemsSingle">
                <div data-ng-repeat="pic in ipics" class="col-md-2 col-sm-3 col-xs-12">
                    <!--<a href="{{pic.pic}}" data-lightbox="secondSlider">
                        <img src="{{pic.mini}}" class="img-responsive center-block img-polaroid img-thumbnail">
                    </a>-->
                    <a ng-href="/viewDish{{pic.title}}"><h3>{{pic.title}}</h3></a>
                </div>
            </div>
        </div>
        <button type="button" class="left carousel-control" href="#myCarousel_2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button type="button" class="right carousel-control" href="#myCarousel_2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-righ"></span>
        </button>
    </div>
</div>
<!--Второй слайдер-->

<!--Если размеры для телефона-->
<div class="thumbnails slider2 visible-xs">
    <div class="col-xs-12 center">
        <div class="slide col-xs-12" data-ng-repeat="data in info">
            <!--<div data-ng-repeat="pic in data">
                <a href="/uploaded/{{pic}}" data-lightbox="repo">
                    <img class="col-xs-6 col-xs-offset-3 img-responsive img-thumbnail" src="/uploaded/mini_{{pic}}" alt="{{data.dish_name}}">
                </a>
            </div>-->
            <a ng-href="/viewDish{{data.dish_name}}"><h3>{{data.dish_name}}</h3></a>
        </div>
    </div>
</div>

</div>