<div class="content">
<!--Главный слайдер-->
<div id="myCarousel_4" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel_4" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel_4" data-slide-to="1"></li>
        <li data-target="#myCarousel_4" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="img/slider-4.jpg" width="100%" alt="Слайд_1">
            <div class="carousel-caption">
                <div class="cont">
                    <p>Блог новостей</p>
                    <p>Будте вкурсе последних новостей и будущих мероприятий</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slider-4.jpg" width="100%" alt="Слайд_1">
            <div class="carousel-caption">
                <div class="cont">
                    <p>Блог новостей</p>
                    <p>Будте вкурсе последних новостей и будущих мероприятий</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/slider-4.jpg" width="100%" alt="Слайд_1">
            <div class="carousel-caption">
                <div class="cont">
                    <p>Блог новостей</p>
                    <p>Будте вкурсе последних новостей и будущих мероприятий</p>
                </div>
            </div>
        </div>

    </div>

    <button class="visible-sm visible-md visible-lg left carousel-control" ng-click="clickcontrol(event)" href="#myCarousel_4" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left fa fa-chevron-circle-left"></span>
    </button>
    <button class="visible-sm visible-md visible-lg right carousel-control" ng-click="clickcontrol(event)" href="#myCarousel_4" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right fa fa-chevron-circle-right"></span>
    </button>
</div>
    <div class="totalDate floatLeft greenBack col-sm-offset-2">
        <h3 class="dayDate">{{day}}</h3>
        <h5 class="yearDate">{{year}}</h5>
    </div>
    <div class="titleDate_2 visible-sm visible-md visible-lg ">
        <h3>{{news[0].news_name}}</h3>
    </div>
    <div class="titleDate_2 visible-xs ">
        <h5>{{news[0].news_name}}</h5>
    </div>
    <div class="justLine2 greenBack col-sm-5 col-sm-offset-2 clearFloat"></div>



<div class="newsPhoto col-sm-4 col-sm-offset-2 col-xs-8 col-xs-offset-2 clearFloat marginTop15">
    <a href="/uploaded/{{news[0].news_photo[0]}}" data-lightbox="dishInfo"><img src="/uploaded/{{news[0].news_photo[0]}}" class="img-thumbnail img-responsive softShadow"></a>
</div>

<div class="clearFloat visible-xs"></div>
<pre style="font-family: K_Myriad Pro" class="col-md-6 marginTop15 noBack noBorder">
    {{news[0].news_brief}}
    {{news[0].news_about}}
</pre>




</div>